
/*COLOR PALLET*/

/*color pallet #3588
colorpallets.net

#234a56
#417d95
#89b9c5
#c1dee2
#dde7dc
*/




/*FONTS!!!*/

/* 
2--TASK & FOLDERS--   font-family: 'Adamina', serif; 

4--QUOTE--   font-family: 'Sacramento', cursive;


6--COMMENTS, TIME DUE, DATE DUE, FOLDER NAMES--   font-family: 'Scheherazade', serif;

1--keep --  font-family: 'Merriweather', serif;
3--keep--   font-family: 'Rufina', serif;
5--TASK ORGANIZER & TO COMPLETE/COMPLETED--  font-family: 'Cormorant', serif;
*/


/*navbar*/


/*container*/
#firstContainer {
    background-color: 
}

/*row One*/

#rowFirst {

}
#taskOrganizerDiv {
    background-color: #dde7dc;
}

#taskOrganizer {
    font-family: 'Cormorant', serif;

}

#folderz {
    font-family: 'Adamina', serif;

}

.border {

}

#work {
    font-family: 'Scheherazade', serif;
}

#school {
    font-family: 'Scheherazade', serif;
}

#home {
    font-family: 'Scheherazade', serif;
}

#exercise {
    font-family: 'Scheherazade', serif;
}

#other {
    font-family: 'Scheherazade', serif;
}



#column9 {

}

#header {

}

#appName {
    font-family: 'Rufina', serif;
    color: #234a56;
}

.quoteDiv{

}

#quote {
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    color: #234a56;
}


/* inputs */
#addTask1 {
    font-family: 'Rufina', serif;
    color: #234a56;
    font-size: 12px;
}

#timeDue1 {
    font-family: 'Rufina', serif;
    color: #234a56;
    font-size: 12px;
}

#dateDue1 {
    font-family: 'Rufina', serif;
    color: #234a56;
    font-size: 12px;
}

#folder1 {
    font-family: 'Rufina', serif;
    color: #234a56;
    font-size: 12px;
}

#comments1 {
    font-family: 'Rufina', serif;
    color: #234a56;
    font-size: 12px;
}


/* submit button */

#submitBtn {
    background-color: white;
    border-color: #234a56;
    font-family: 'Rufina', serif;
    color: #234a56;
}

#rowSecond {

}

/*row 2*/

#row2 {

}

#row2Column8 {
    background-color: #234a56;
}

#toCompleteBtn {
    font-family: 'Cormorant', serif;
    background-color: #234a56;
    color: #dde7ec;
}

#row2Column4 {
    background-color: #417d95;
}

#completedBtn {
    font-family: 'Cormorant', serif;
    background-color: #417d95;
    color: #dde7ec;
}

/*row 3*/

#row3 {

}

#row3Column12 {

}

/*task one*/

#taskOne {
    background-color: #dde7dc;

}

#task1Col2 {

}

#task1Col2Form {

}

#task {
    font-family: 'Adamina', serif;
    color: #234a56;

}

#comments {
    font-family: 'Scheherazade', serif;
    color: #234a56;

}

#timeDue {
    font-family: 'Scheherazade', serif;
    color: #234a56;
}

#dateDue {
    font-family: 'Scheherazade', serif;
    color: #234a56;
}


/*task two*/

#taskTwo {
    background-color: #c1dee2;
}




#taskThree {
    background-color: #89b9c5;
}











