
/*COLOR PALLET*/

/*color pallet #3588
colorpallets.net

#234a56
#417d95
#89b9c5
#c1dee2
#dde7dc
*/




/*FONTS!!!*/

/* 
2--TASK--   font-family: 'Adamina', serif; 

4--QUOTE--   font-family: 'Fredericka the Great', cursive;
7--QUOTE--   font-family: 'Limelight', cursive;
8--QUOTE--   font-family: 'Galada', cursive;
9--QUOTE--   font-family: 'Londrina Shadow', cursive;

6--COMMENTS, TIME DUE, DATE DUE--   font-family: 'Scheherazade', serif;

1--keep --  font-family: 'Merriweather', serif;
3--keep--   font-family: 'Rufina', serif;
5--keep--  font-family: 'Cormorant', serif;



*/


/*navbar*/


/*container*/
#firstContainer {
    background-color: 
}

/*row One*/

#rowFirst {

}
#taskOrganizerDiv {
    background-color: #dde7dc;
}

#taskOrganizer {
    /*one*/
    font-family: 'Merriweather', serif;

}

#folderz {


}

.border {

}

#work {

}

#school {

}

#home {

}

#exercise {

}

#other {

}



#column9 {

}

#appName {
    font-family: 'Rufina', serif;
    color: #234a56;
}

.quoteDiv{

}

#quote {
    font-family: 'Fredericka the Great', cursive;
}

#addTask {

}

#timeDue {

}

#dateDue {

}

#folder {

}

#submitBtn {

}

#rowSecond {

}

/*row 2*/

#row2 {

}

#row2Column8 {
    background-color: #234a56;
}

#toCompleteBtn {
    font-family: 'Cormorant', serif;
    background-color: #234a56;
    color: #dde7ec;
}

#row2Column4 {
    background-color: #417d95;
}

#completedBtn {
    font-family: 'Cormorant', serif;
    background-color: #417d95;
    color: #dde7ec;
}

/*row 3*/

#row3 {

}

#row3Column12 {

}

/*task one*/

#taskOne {
    background-color: #dde7dc;

}

#task1Col2 {

}

#task1Col2Form {

}

#task {
    font-family: 'Adamina', serif;

}

#comments {
    font-family: 'Scheherazade', serif;

}

#timeDue {
    font-family: 'Scheherazade', serif;
}

#dateDue {
    font-family: 'Scheherazade', serif;
}


/*task two*/

#taskTwo {
    background-color: #c1dee2;
}




#taskThree {
    background-color: #89b9c5;
}











